[init]
	defaultBranch = main
[user]
	name = Ralph Göstenmeier
	email = r14r@via-internet.de
[credential "https://github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/local/bin/gh auth git-credential
